@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-grey-eight: #f7f7f7;
  --color-grey-seven: #eeeeee;
  --color-grey-two: #333333;
  --color-grey-four: #777777;
  --color-grey-six: #cccccc;
  --color-primary-color: #173559;
  --color-grey-three: #555555;
  --color-secondary-color: #f6bb3b;
  --color-green-color: #65b211;
  --color-blue-color: #1890ff;

  /* for dark mode */

  --color-dark-primary-color: #5444bb;
  --color-dark-background-color: #181a1b;
  --color-dark-grey-four-color: #b0b3b8;
  --color-dark-grey-two: #e5e7eb;
  --color-dark-grey-six: #3a3b3c;
  --color-dark-cards-color: #222124;
  --color-dark-grey-seven: #23272a;

  /* Table head */

  --color-table-dark-head: #151b23;
  --color-table-dark-body: #262c36;
}
